[package]
name = "floating-ui-dom-example"
description = "Example for Floating UI DOM."
publish = false

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
console_error_panic_hook.workspace = true
console_log.workspace = true
floating-ui-dom = { path = ".." }
log.workspace = true
wasm-bindgen.workspace = true
web-sys.workspace = true
