.mdbook-trunk-iframe {
    display: block;
    width: 100%;
    border: 0.1em solid var(--quote-border);
}

.mdbook-trunk-files-container {
    width: 100%;
    border: 0.1em solid var(--quote-border);
    border-top: 0em;
    background-color: var(--quote-border);
}

.mdbook-trunk-files {
    display: flex;
}

.mdbook-trunk-file {
    background-color: var(--table-alternate-bg);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
    line-height: 1.45em;
}

.mdbook-trunk-file.active {
    background-color: var(--table-header-bg);
    font-weight: bold;
}

.mdbook-trunk-file-content > pre {
    margin: 0rem;
}
