name: CI

on:
    pull_request: {}
    push:
        branches:
            - main

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest

        env:
            RUSTFLAGS: '-Dwarnings'

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Rust toolchain
              run: rustup toolchain install nightly --no-self-update --profile default --target wasm32-unknown-unknown

            - name: Set up Rust cache
              uses: swatinem/rust-cache@v2
              with:
                  cache-on-failure: true
                  save-if: ${{ github.ref == 'refs/heads/main' }}

            - name: Check formatting
              run: cargo fmt --all --check

            - name: Lint
              run: cargo clippy --all-features

    test:
        name: Test
        # Temporarily use Ubuntu 22.04, until upstream Floating UI support 24.04 (https://github.com/floating-ui/floating-ui/pull/3214).
        runs-on: ubuntu-22.04

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Rust toolchain
              run: rustup toolchain install nightly --no-self-update --profile default --target wasm32-unknown-unknown

            - name: Set up Rust cache
              uses: swatinem/rust-cache@v2
              with:
                  cache-on-failure: true
                  save-if: ${{ github.ref == 'refs/heads/main' }}

            - name: Install Cargo Binary Install
              uses: cargo-bins/cargo-binstall@main

            - name: Install Trunk
              run: cargo binstall --force -y trunk

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 'lts/*'

            - name: Set up pnpm
              uses: pnpm/action-setup@v3
              with:
                  version: 'latest'

            - name: Test
              run: cargo test --all-features

            - name: Upload visual snapshot diffs
              uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: visual-snapshots-diff
                  path: target/tmp/floating-ui/packages/dom/test-results
